<div class="title">Create/Edit Product</div>
<div class="profile-container">
	<form ng-submit="vm.addProduct()">
  <a href="/#/products/{{vm.product._id}}"><i class="fa fa-arrow-left fa-2x pull-right"></i></a>
  <br class="clear" />
		<div class="form-group">
    		<label for="name">Product Name</label>
    		<input type="text" class="form-control" id="name" ng-model="vm.name" placeholder="Name" required>
  		</div>

  		<div class="form-group">
    		<label for="description">Description</label>
    		<!-- <input type="text" class="form-control" id="description" ng-model="vm.description" placeholder="Description"> -->
        <textarea class="form-control" id="description" ng-model="vm.description" placeholder="Description" rows="3"></textarea>
  		</div>

		<div class="form-group">
			<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input type="number" class="form-control" ng-model="vm.price" required>
			</div>
		</div>
		<button class="btn btn-default" type="submit"><span ng-show="vm.createForm">Save</span><span ng-show="vm.updateForm">Update Info</span></button>
	</form>
</div>

<div class="notification" ng-show="vm.created"><i class="fa fa-arrow-right"></i>{{vm.enteredName}}{{vm.notifyMessage}}</div>