<div>
	<p class="title pull-left">Products</p>
	<a class="btn btn-default pull-right" href="/#/products/create"><i class="glyphicon glyphicon-plus pull-left"></i><div class="vhr"><br /></div>New</a>
	<br class="clear" />
</div>


<div>
	<div class="product-container" ng-repeat="item in vm.products">
		<a href="/#/products/{{item._id}}"><div class="col-sm-2 pull-left text-align-left">{{item.name}}</div></a>
		<div class="col-sm-2 pull-left text-align-left">{{item.price | currency}}</div>
		<br class="clear" />
	</div>
</div>