/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	padding: 10px;
}

/* * {
	outline: 1px solid red;
} */

body {
	background: #ecf0f1;
}

.title {
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: sans-serif;
}

.vhr {
	display: inline-block;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	width: 2px;
	height: 100%;
	background-color: black;
	border-radius: 2px;
}

.pull-left {
	display: inline;
	float: left;
}

.pull-right {
	display: inline;
	float: right;
}

.clear {
	clear: both;
}

.text-align-left {
	text-align: left;
}

.product-container {
	padding: 5px;
	margin: 3px;
}

.image-container-sm {
	margin: 10px;	
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-image: url('/img/default-placeholder.png');
	background-size: 100px 100px;
}

.profile-container {
	padding: 5px;
	margin: 2px;
	border: 1px solid #000;
	border-radius: 5px;
	font-family: sans-serif;
	width: 60%;
	margin-bottom: 10px;
}

.profile-container p {
	padding: 10px;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.fixed-tr {
	position: fixed;
	top: 5px;
	right: 5px;
}

.main-container {
	background: #bdc3c7;
	margin: 50px auto 0 auto;
	width: 60%;
	height: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
	max-height: 550px;
}

.main-container .btn {
	margin-left: 10px;
}

.main-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-img img {
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.notification {
	padding: 5px;
	margin-left: 10px;
}

.white {
	background: white;
}

/* .admin {
	visibility: hidden;
}
 */
.center-text {
	text-align: center;
}